<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decora</title>
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/remixicon.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">

    <!-- we are ready at slider css -->

    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">

    <style>
        .p-100 {
            padding: 100px 0;
        }

        .pb-100 {
            padding-bottom: 100px;
        }

        /* map inner box */
        .map-innerbox {
            background-color: rgba(255, 255, 255, 0.7);
            z-index: 9999;
            top: 0;
        }

        /* testimonial */
        .comma {
            position: absolute;
            top: 80px;
            left: 620px;
            z-index: 10;
        }
    </style>
</head>

<body>

    <div class="banner">
        <!-- header start -->
        <section>
            <header class="pt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="col-2 d-flex justify-content-between">
                                <div class="email " style="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                        ">
                                    group@gmail.com
                                </div>
                            </div>
                            <div class="col-3">

                                <ul class="d-flex justify-content-center align-items-center justify-content-between">
                                    <li style="font-family: Montserrat;font-size: 18px;font-weight: 500;
                            line-height: 27px;
                            letter-spacing: 0em;
                            text-align: left;
                            color:#EFC776;
                            ">HOME</li>
                                    <li>ABOUT</li>
                                    <li>PROJECT</li>
                                </ul>

                            </div>
                            <div class="col-2">a</div>
                            <div class="col-4">

                                <ul class="d-flex justify-content-center align-items-center justify-content-between">
                                    <li>BLOG</li>
                                    <li>PAGES</li>
                                    <li>CONTACT</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- header end -->

                <!-- banner start -->


                <div class="slider">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="banner-img">
                                <div class="banner-content" style="padding: 200px 0;">
                                    <h1 class="text-white d-flex justify-content-center">FIND YOUR DREAM HOME</h1>
                                    <p>Find the perfect place to live with your family and begin your new life just the
                                        way you want to. We provide house so that you can make it your home.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        <!-- banner end -->
    </div>

    <!-- what we do start -->
    <section class="what-we-do py-5" style="background-color: 
    #F9FAF1;">
        <div class="container">
            <div class="row">
                <p style="
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: center;
                ">WHAT WE DO</p>
                <h2 class="pt-2" style="font-family: Cormorant;
                font-size: 52px;
                font-weight: 700;
                line-height: 63px;
                letter-spacing: 0em;
                text-align: center;
                ">CREATING A GREAT TOMORROW <br>FOR EVERYONE</h2>

                <div class="col-12 d-flex justify-content-around mt-5">
                    <div class="col-7">
                        <div class="photo-frame ">
                            <div class="img position-relative">
                                <img src="/public/img/about.svg" alt="">

                                <div class="white-box position-absolute p-4 "
                                    style="width: 303px;height: 171px;background-color: white;top: 73%;left: 14%;border-radius: 13px;">
                                    <p style="
                                    font-family: Montserrat;
                                    font-size: 15px;
                                    font-weight: 600;
                                    line-height: 18px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    " class="mb-0">Equestrian Family Home</p>
                                    <small style="
                                    font-family: Montserrat;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 15px;
                                    letter-spacing: 0em;
                                    text-align: left;color: #787878;
                                    ">California City, CA, USA</small>

                                    <div class="icon-row d-flex justify-content-between pb-3 mb-0">
                                        <div class="icon-1">
                                            <span>
                                                <img src="/public/img/double-bed 1.svg" alt="">
                                            </span>
                                            <span style="color: 
                                            #787878;">3 Bed</span>
                                        </div>
                                        <div class="icon-2">
                                            <span>
                                                <img src="/public/img/bath-tub 1.png" alt="">
                                            </span>
                                            <span style="color: 
                                            #787878;">3 Bed</span>
                                        </div>
                                        <div class="icon-3">
                                            <span>
                                                <img src="/public/img/foreground 1.png" alt="">
                                            </span>
                                            <span style="color: 
                                            #787878;">3 Bed</span>
                                        </div>
                                    </div>

                                    <p style="font-family: Montserrat;
                                    font-size: 12px;
                                    font-weight: 600;
                                    line-height: 15px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    " class="mb-0">View More
                                        <span>
                                            <img src="/public/img/🦆 icon _arrow right 1_.svg" alt="">
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="content-part pt-3">
                            <p class="pb-2" style="font-family: Montserrat;
                                font-size: 35px;
                                font-weight: 500;
                                line-height: 37px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">With Us Help You Find Your Dream Home</p>
                            <p style="
                                font-family: Montserrat;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">As the complexity of buildings to increase, the field of architecture.</p>

                            <h3 class="pt-3 mb-0" style="font-family: Montserrat;
                                font-size: 44px;
                                font-weight: 600;
                                line-height: 54px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">400</h3>
                            <p class="" style="
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">Stores around the world</p>

                            <h3 class="pt-3 mb-0" style="font-family: Montserrat;
                                font-size: 44px;
                                font-weight: 600;
                                line-height: 54px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">200+</h3>
                            <p style="
                                font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">Stores around the world</p>

                            <h3 class="pt-3 mb-0" style="font-family: Montserrat;
                                font-size: 44px;
                                font-weight: 600;
                                line-height: 54px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">1K+</h3>
                            <p style="font-family: Montserrat;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 17px;
                                letter-spacing: 0em;
                                text-align: left;
                                ">Stores around the world</p>

                            <a href="#" class="d-inline-block mt-4" style="background-color:#e08c0d;
                                padding: 17px 25px;
                                border-radius: 9px;color: #ffffff;font-family: Montserrat;font-size: 13px;font-weight: 600;line-height: 16px;letter-spacing: 0em;text-align: left;
                                ">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- what we do end -->

    <!-- we are ready at -->
    <section class="p-100">
        <div class="container">
            <h2 class="text-start text-uppercase" style="font-family: Cormorant;
            font-size: 47px;
            font-weight: 500;
            line-height: 57px;
            letter-spacing: 0em;
            ">we are ready at</h2>
            <p class="pb-5" style="
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            ">We will always provide what you want</p>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/cp-m-1 1.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Surat</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (1).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Rajkot</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (2).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Ahemdabad</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (3).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Delhi</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Mumbai</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/cp-m-1 1.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Jamnagar</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (1).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Banglore</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/cp-m-1 1.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Vadodara</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Junagadh</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (2).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Gandhinagar</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/cp-m-1 1.png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Morbi</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <div>
                            <img src="/public/img/Mask group (1).png" class="w-75 mx-auto" alt="">
                        </div>
                        <div class="pt-3">
                            <p style="font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            " class="d-inline-block mx-auto m-0">Navsari</p>
                            <p style="font-family: Montserrat;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 13px;
                            letter-spacing: 0em;
                            " class="text-center pt-2">12 properties</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- map -->
    <section class="pb-100">
        <div class="container">
            <div class="col-12 position-relative">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d119042.11153218558!2d72.76039063922205!3d21.18953753034523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sred%20and%20white!5e0!3m2!1sen!2sin!4v1703004429893!5m2!1sen!2sin"
                    height="650" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
            </div>
            <div class="col-9 position-absolute top-0 map-innerbox">
                <div class="w-100 h-100">

                </div>
            </div>
        </div>
    </section>
    <!-- map -->

    <!-- our past projects -->
    <section style="background-color: #f9faf1;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="our-project">
                        <p style="width: 231px;
                        height: 26px;
                        top: 7834px;
                        left: 240px;
                        ">OUR PAST PROJECTS</p>
                        <p style="font-family: Cormorant;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 50px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">FIND THE PERFECT PLACE TO
                            LIVE WITH YOUR FAMILY</p>
                        <a href="#" class="d-inline-block" style="background-color:#e08c0d;
                            padding: 17px 25px;
                            color: #ffffff;font-family: Montserrat;font-size: 13px;font-weight: 600;line-height: 16px;letter-spacing: 0em;text-align: left;
                            ">See more</a>
                        <img src="/public/img/place.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="col-6">
                    <div class="past-img">
                        <img src="/public/img/Frame 5.jpg" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- leadership -->
    <section class="pb-100">
        <div class="container">
            <h4 style="font-family: Montserrat;font-size: 21px;font-weight: 600;line-height: 26px;letter-spacing: 0em;text-align:center;color: #E4A11B;
            ;">LEADERSHIP</h4>
            <p style="font-family: Cormorant;font-size:43px;font-weight:700; line-height: 64px;letter-spacing: 0em;text-align:center;"
                class="w-50 mx-auto pb-5">MEET WITH OUR AMAZING
                TEAM MEMBERS</p>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 47.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 48.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 50.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 50 (1).png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 47.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 48.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 50.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 50 (1).png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 47.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="text-center">
                        <img src="/public/img/Rectangle 48.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial -->

    <section style="background: #F9FAF1;" class="pb-100 position-relative">
        <img src="/public/img/Screenshot 2023-08-21 144541 2.png" class="position-absolute top-0 left-0" alt="">
        <div class="container">
            <div class="position-relative pb-3">
                <h3 class="text-white" style="font-family: Cormorant;font-size: 172px;font-weight: 700;
            line-height: 173px;letter-spacing: 0em;text-align: center;">Testimonial</h3>
                <span style="font-family: Cormorant;font-size: 165px;font-weight: 700;
            line-height: 106px;letter-spacing: 0em;text-align: center; color: 
#787878;" class="position-absolute comma">”</span>
                <p style="font-family: Montserrat;font-size: 29px;font-weight: 600;line-height: 35px;letter-spacing: 0em;text-align: center; color: #787878;"
                    class="m-0">SOME REVIEWS</p>
            </div>
            <div class="d-flex flex-wrap pt-5">
                <div class="col-4 px-3 pt-4">
                    <div class="bg-white pt-5 px-5 pb-3 position-relative">
                        <img src="/public/img/Ellipse 21.png" class="position-absolute"
                            style="top: -40px; z-index: 10; left: 60px;" alt="">
                        <img src="/public/img/Ellipse 20.png" class="position-absolute" style="top: -50px;" alt="">
                        <div class="text-end">
                            <img src="/public/img/hash.png" alt="">
                        </div>
                        <h3 style="font-family: Montserrat;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Ashu Menon</h3>
                        <p class="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;color: #787878;
                        ">Shop Manager</p>
                        <p style="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #787878;">“Amazing design, easy to customize and a
                            design quality superlative account on its
                            cloud platform for the optimized
                            performance. And we didn’t on our original
                            designs.”</p>
                        <div class="pt-3 pb-5">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                        </div>
                        <p class="border border-b" style="border: 1px solid #CDCDCD;"></p>
                        <p style="font-family: Cormorant;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: center;
                        " class="pt-3">“ Great Work ”</p>
                    </div>
                </div>
                <div class="col-4 px-3 pt-4">
                    <div class="bg-white pt-5 px-5 pb-3 position-relative">
                        <img src="/public/img/Ellipse 21.png" class="position-absolute"
                            style="top: -40px; z-index: 10; left: 60px;" alt="">
                        <img src="/public/img/Ellipse 20.png" class="position-absolute" style="top: -50px;" alt="">
                        <div class="text-end">
                            <img src="/public/img/hash.png" alt="">
                        </div>
                        <h3 style="font-family: Montserrat;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Ashu Menon</h3>
                        <p class="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;color: #787878;
                        ">Shop Manager</p>
                        <p style="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #787878;">“Amazing design, easy to customize and a
                            design quality superlative account on its
                            cloud platform for the optimized
                            performance. And we didn’t on our original
                            designs.”</p>
                        <div class="pt-3 pb-5">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                        </div>
                        <p class="border border-b" style="border: 1px solid #CDCDCD;"></p>
                        <p style="font-family: Cormorant;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: center;
                        " class="pt-3">“ Great Work ”</p>
                    </div>
                </div>
                <div class="col-4 px-3 pt-4">
                    <div class="bg-white pt-5 px-5 pb-3 position-relative">
                        <img src="/public/img/Ellipse 21.png" class="position-absolute"
                            style="top: -40px; z-index: 10; left: 60px;" alt="">
                        <img src="/public/img/Ellipse 20.png" class="position-absolute" style="top: -50px;" alt="">
                        <div class="text-end">
                            <img src="/public/img/hash.png" alt="">
                        </div>
                        <h3 style="font-family: Montserrat;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0em;
                        text-align: left;
                        ">Ashu Menon</h3>
                        <p class="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;color: #787878;
                        ">Shop Manager</p>
                        <p style="font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #787878;">“Amazing design, easy to customize and a
                            design quality superlative account on its
                            cloud platform for the optimized
                            performance. And we didn’t on our original
                            designs.”</p>
                        <div class="pt-3 pb-5">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                            <img src="/public/img/star (2) 3.png" alt="">
                        </div>
                        <p class="border border-b" style="border: 1px solid #CDCDCD;"></p>
                        <p style="font-family: Cormorant;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: center;
                        " class="pt-3">“ Great Work ”</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial -->





    <!-- slider we are ready at js -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>
    <!-- slider we are ready at js -->

</body>

</html>